<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.stamford.scitech.stiuvantracker" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="edu.stamford.scitech.stiuvantracker.permission.C2D_MESSAGE" />
    <uses-permission android:name="edu.stamford.scitech.stiuvantracker.permission.C2D_MESSAGE" />

    <receiver android:name=".Notification" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- AIzaSyA3UIDkDdMALKxvZDV-C0jVBoDBLBEzkNc -->
        <!-- Niko key - AIzaSyAMFYzjM4PCQl8eZKOozVdWFO6JFMeCosY -->
        <!-- AIzaSyAPwAVGW5AAB7UFJEs1NL8hPV1OJl8hjXg -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAPwAVGW5AAB7UFJEs1NL8hPV1OJl8hjXg" />

        <activity
            android:name=".DriverMode"
            android:label="@string/title_activity_driver_mode" >
        </activity>
        <activity
            android:name=".GmapsBroadcast"
            android:label="@string/title_activity_gmaps_broadcast" >
        </activity>

        <!--<receiver  android:process=":remote" android:name="edu.stamford.scitech.stiuvantracker.NotificationPublisher"></receiver>-->
        <receiver android:name="edu.stamford.scitech.stiuvantracker.NotificationPublisher" android:exported="false"  />


        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="edu.stamford.scitech.stiuvantracker" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
